<template>
  <div id="app">
    <div class="container">
      <router-link to="/OBVindex"> OBV index</router-link>
      <router-link to="/about"> about</router-link>
      <router-link to="/"> Home</router-link>
    </div>
    <button class="btn btn-primary" v-on:click="update_stockdays_data">
      Update Daily Stock Data
    </button>

    <!-- router view will show content of router link -->
    <router-view />
  </div>
</template>

<script>
import { apiService } from "./common/api.service";

export default {
  name: "App",

  methods: {
    async update_stockdays_data() {
      // update all stocks daily  close , volume  - to 5 day long
      let endpoint = "celerytask/";
      apiService(endpoint);
      alert("Updating Stock Day Data ");
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
